@page "{id}"
@model MusicApp.Pages.Artists.AlbumsModel
@{
    ViewData["Title"] = "Albums";
}

<h1>@Model.Artist.name - Albums</h1>

<ul>
    @foreach (var album in Model.Artist.albums)
    {
        <li>
            <a asp-page="./AlbumDetails" asp-route-albumTitle="@album.title">@album.title</a>
            <span> | </span>
            <a asp-page="./EditAlbum" asp-route-albumId="@album.Id">Edit</a>
            <span> | </span>
            <a asp-page="./DeleteAlbum" asp-route-albumId="@album.Id">Delete</a>
        </li>
    }
</ul>

<div>
    <a asp-page="./CreateAlbum">Create New Album</a>
</div>
