@page "{albumTitle}"
@model MusicApp.Pages.Artists.AlbumDetailsModel
@{
    ViewData["Title"] = "Album Details";
}

<h1>@Model.Album.title</h1>
<p>@Model.Album.description</p>

<h2>Songs</h2>
<ul>
    @foreach (var song in Model.Album.songs)
    {
        <li>
            @song.title - @song.length
            <span> | </span>
            <a asp-page="./EditSong" asp-route-id="@Model.Album.Id"  asp-route-id="@song.Id">Edit</a>
            <span> | </span>
            <a asp-page="./DeleteSong" asp-route-id="@Model.Album.Id"  asp-route-id="@song.Id">Delete</a>

        </li>
    }
</ul>

<div>
    <a asp-page="./CreateSong" asp-route-id="@Model.Album.Id" >Add New Song</a>
</div>
