@page "/"
@model MusicApp.Pages.Artists.IndexModel
@{
    ViewData["Title"] = "Search Results";
}

<h1>Search Results</h1>

<ul>
    @foreach (var result in Model.SearchResults)
    {
        <li>
            @if (result is MusicApp.Models.ArtistSearchResult artistResult)
            {
                <a asp-page="./Albums" asp-route-id="@artistResult.Artist.Id">@artistResult.Artist.name</a>
                <span> | </span>
                <a asp-page="./EditArtist" asp-route-id="@artistResult.Artist.Id">Edit</a>
                <span> | </span>
                <a asp-page="./DeleteArtist" asp-route-id="@artistResult.Artist.Id">Delete</a>
            }
            else if (result is MusicApp.Models.SongSearchResult songResult)
            {
                <a asp-page="./Songs" asp-route-id="@songResult.Song.Id">@songResult.Song.title</a>
                <span> | </span>
                <span>@songResult.Song.length</span>
            }
            else if (result is MusicApp.Models.AlbumSearchResult albumResult)
            {
                <a asp-page="./Albums" asp-route-id="@albumResult.Album.Id">@albumResult.Album.title</a>
                <span> | </span>
                <span>@albumResult.Album.description</span>
            }
        </li>
    }
</ul>

<div>
    <a asp-page="./CreateArtist">Create New Artist</a>
</div>
